#app {
  display: flex;
  height: 60%;
  justify-content: space-between;
}

.middle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; /* auto, auto, auto */
  height: 100%;
  padding: 4% 0;
  flex-grow: 1;
}

#converter {
  place-self: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #fcd200ef;
  background-image: url('/assets/fetchBtn.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
}

#converter:hover {
  scale: 1.1;
}

#converter:active {
  background-color: #fcd000;
  transform: scale(0.9);
}
