---

---

<div>ad_middle_1</div>

<style>
    div {
        /* background-color: violet; */
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
</style>