---
import '@/styles/footer.css'
import GitHub from '@/assets/svgs/GitHub.astro'
import Coffee from '@/assets/svgs/Coffee.astro'

const githubStyles = `
    display: flex;
    padding: 0 5px;
    width: 40px;
    height: 40px;
    stroke: #fff;
`
---

<footer>
  <div id='container'>
    <span
      style={{
        position: 'absolute',
        zIndex: '20',
        height: '0',
      }}
    >
      <a
        href='https://www.buymeacoffee.com/albertlnz'
        target='_blank'
        rel='noreferrer'
      >
        <Coffee id='coffee' />
      </a>
    </span>
    <div id='github'>
      <a
        href='https://github.com/AlbertLnz/plt2img'
        target='_blank'
        rel='author'
        style={{ zIndex: '20' }}
      >
        <GitHub style={githubStyles} />
      </a>
      <p>
        Made by <span id='name'>
          <a href='https://github.com/AlbertLnz' target='_blank' rel='author'>
            AlbertLnz
          </a>
        </span>
      </p>
    </div>
    <span id='pardon'>
      Sorry for the low latency! The project is on a free service and any
      contribution would help improve it.
    </span>
  </div>
</footer>
