---
import '@/styles/promptArea.css'
---

<article id='promptArea'>
  <h2>Insert your Python code</h2>
  <textarea name='py-prompt' id='prompt-input'></textarea>
  <p id='fetchMsg'>Message space</p>
</article>

<script>
  const $fetchMsg = document.getElementById('fetchMsg') as HTMLParagraphElement
  $fetchMsg.addEventListener('click', () => {
    $fetchMsg.classList.remove('show')
    $fetchMsg.textContent = 'Error message space'
  })
</script>
