---
import '@/styles/resultArea.css'
---

<article id='resultArea'>
  <div id='img-container'>
    <img
      src='/assets/poster.webp'
      alt='Example poster image of a plot'
      id='result-image'
    />
    <button id='downloadBtn' aria-label='Downloader plot button'></button>
    <p id='msg-imgDownloading'>Downloading image...</p>
  </div>
</article>

<script type='module' is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    const $image = document.querySelector('#result-image')
    const $downloadBtn = document.getElementById('downloadBtn')
    const $imgContainer = document.getElementById('img-container')
    const $msgImgDownloading = document.getElementById('msg-imgDownloading')

    $image.addEventListener('click', function () {
      document.startViewTransition(() => {
        $imgContainer.classList.toggle('fullscreen')
      })
    })

    $downloadBtn.addEventListener('click', function () {
      $msgImgDownloading.style.visibility = 'visible'
      const link = document.createElement('a')
      link.href = $image.src
      link.download = 'my-plot.png'
      link.click()
      $msgImgDownloading.style.visibility = 'hidden'
    })
  })
</script>
