---
import '@/styles/resultArea.css'
---

<article id='resultArea'>
  <div id='img-container'>
    <img src='/assets/poster.webp' alt='Poster' id='result-image' />
    <button id='downloadBtn'></button>
  </div>
</article>

<script type='module'>
  document.addEventListener('DOMContentLoaded', function () {
    const $image = document.querySelector('#result-image')
    const $downloadBtn = document.getElementById('downloadBtn')
    const $imgContainer = document.getElementById('img-container')

    $image.addEventListener('click', function () {
      document.startViewTransition(() => {
        $imgContainer.classList.toggle('fullscreen')
      })
    })

    $downloadBtn.addEventListener('click', function () {
      const link = document.createElement('a')
      link.href = $image.src
      link.download = 'my-plot.png'
      link.click()
    })
  })
</script>
